(
    spritesheet_width: 128,
    spritesheet_height: 128,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 16,
            height: 16,
        ),
        (
            x: 16,
            y: 0,
            width: 16,
            height: 16,
        ),
        (
            x: 32,
            y: 0,
            width: 16,
            height: 16,
        ),
    ],
)
